django==5.0.6
django-templated-mail==1.1.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
djoser== 2.2.2
email_validator==2.2.0
Werkzeug==3.0.3
WTForms==3.1.2