@font-face {
    font-family: Montserrat;
    src: url(montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: Oswald-Regular;
    src: url(oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(oswald/Oswald-Light.ttf);
}

@keyframes move_line3 {
    0% {
        left: 503px;
        top: 164px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        left: 3px;
        top: 164px;
        opacity: 1;
      }
    }

@keyframes move_big_words3 {
    0% {
        top: 0px;
        left: -503px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        top: 0px;
        left: 3px;
        opacity: 1;
      }
}

@keyframes move_small_words3 {
    0% {
        left: 500px;
        top: 0px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        left: 0px;
        top: 0px;
        opacity: 1;
      }
}

.partners_block {
    position: absolute;
    left: 543px;
    top: 4850px;
    width: 912px;
    height: 246px;
}

#small_words3 {
    width: 63px;
    height: 26px;
    position: absolute;
    animation-name: move_small_words3;
    animation-duration: 2.7s;
    animation-fill-mode: forwards;
    color: #000;
    text-align: center;
    font-family: Oswald-Light;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

#big_words3 {
    width: 317px;
    height: 123px;
    position: absolute;
    animation-name: move_big_words3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: #000;
    font-family: Oswald-Bold;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
}

#line3 {
    position: absolute;
    animation-name: move_line3;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
}

#partner_1 {
    width: 135px;
    height: 102px;
    position: absolute;
    top: 26px;
    left: 345px;
}
#partner_2 {
    width: 144px;
    height: 73px;
    position: absolute;
    top: 36px;
    left: 544px;
}
#partner_3 {
    width: 160px;
    height: 76px;
    position: absolute;
    top: 39px;
    left: 752px;
}
#partner_4 {
    width: 139px;
    height: 76px;
    position: absolute;
    top: 164px;
    left: 345px;
}
#partner_5 {
    width: 141px;
    height: 82px;
    position: absolute;
    top: 158px;
    left: 547px;
}
#partner_6 {
    width: 124px;
    height: 97px;
    position: absolute;
    top: 149px;
    left: 770px;
}



