@font-face {
    font-family: Montserrat;
    src: url(montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: Oswald-Regular;
    src: url(oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(oswald/Oswald-Light.ttf);
}

@keyframes move_line2 {
    0% {
        left: 1212px;
        top: 164px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        left: 512px;
        top: 164px;
        opacity: 1;
      }
    }

@keyframes move_big_words2 {
    0% {
        top: 0px;
        left: -800px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        top: 0px;
        left: 512px;
        opacity: 1;
      }
}

@keyframes move_small_words2 {
    0% {
        left: 1209px;
        top: 0px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        left: 512px;
        top: 0px;
        opacity: 1;
      }
}

.portfolio_block {
    position: absolute;
    left: 34px;
    top: 3159px;
    width: 1852px;
    height: 1597px;
}

#small_words2 {
    width: 63px;
    height: 26px;
    position: absolute;
    animation-name: move_small_words2;
    animation-duration: 2.7s;
    animation-fill-mode: forwards;
    color: #000;
    text-align: center;
    font-family: Oswald-Light;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

#big_words2 {
    width: 317px;
    height: 123px;
    position: absolute;
    animation-name: move_big_words2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: #000;
    font-family: Oswald-Bold;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
}

#line2 {
    position: absolute;
    animation-name: move_line2;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}

#text_portfolio_block {
    position: absolute;
    top: 28px;
    left: 838px;
    width: 599px;
    height: 121px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 30.5px;
}

#portfolio_block_image_1 {
    position: absolute;
    left: 0px;
    top: 214px;
    width: 600px;
    height: 616px;
}

#portfolio_block_image_2 {
    position: absolute;
    left: 626px;
    top: 214px;
    width: 600px;
    height: 616px;
}

#portfolio_block_image_3 {
    position: absolute;
    left: 1252px;
    top: 214px;
    width: 600px;
    height: 616px;
}

#portfolio_block_image_4 {
    position: absolute;
    left: 0px;
    top: 854px;
    width: 600px;
    height: 616px;
}

#portfolio_block_image_5 {
    position: absolute;
    left: 626px;
    top: 854px;
    width: 600px;
    height: 616px;
}

#portfolio_block_image_6 {
    position: absolute;
    left: 1252px;
    top: 854px;
    width: 600px;
    height: 616px;
}


#view_more_portfolio {
    position: absolute;
    left: 812px;
    top: 1535px;
    width: 227px;
    height: 62px;
    background: none;
    text-decoration: none;
    transition: box-shadow 0.5s ease, background 0.5s ease;
    box-shadow: inset 0 0 0 2px #F7992B;
    display: flex;
    align-items: center;
    justify-content: center;
}

#view_more_portfolio:hover {
    background: #F7992B;
    box-shadow: none;
}

#view_more_portfolio_p {
    color: #F7992B;
    font-family: Oswald-Regular;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5.95px;
    text-decoration: none;
    transition: color 0.5s ease;
    margin: 0;
}

#view_more_portfolio:hover #view_more_portfolio_p {
    color: #FFF;
}