@font-face {
    font-family: Montserrat;
    src: url(montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: Oswald-Regular;
    src: url(oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(oswald/Oswald-Light.ttf);
}

@keyframes move_line1 {
    0% {
        left: 700px;
        top: 250px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        left: 88px;
        top: 250px;
        opacity: 1;
      }
}

@keyframes move_big_words1 {
    0% {
        left: -500px;
        top: 26px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        top: 26px;
        left: 88px;
        opacity: 1;
      }
}

@keyframes move_small_words1 {
    0% {
        left: 700px;
        top: 20px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        top: 20px;
        left: 90px;
        opacity: 1;
      }
}



.about_company_block {
    width: 1022px;
    height: 755px;
    position: absolute;
    left: 455px;
    top: 1492px;
}

#small_words1 {
    position: absolute;
    color: #000;
    text-align: center;
    font-family: Oswald-Light;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    animation-name: move_small_words1;
    animation-duration: 2.3s;
    animation-fill-mode: forwards;
}

#big_words1 {
    width: 317px;
    height: 211.301px;
    position: absolute;
    top: 26px;
    left: 88px;
    color: #000;
    font-family: Oswald-Bold;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    animation-name: move_big_words1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#line1 {
    position: absolute;
    animation-name: move_line1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#text_about_company_block {
    position: absolute;
    left: 417px;
    top: 26px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

#text_about_company_block1 {
    position: absolute;
    left: 417px;
    top: 121px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}