@font-face {
    font-family: Montserrat;
    src: url(montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: Oswald-Regular;
    src: url(oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(oswald/Oswald-Light.ttf);
}

@keyframes move_photo_1_about_block_arch {
    0% {
        left: -500px;
        top: 371px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        left: 0px;
        top: 371px;
        opacity: 1;
      }
}

@keyframes move_photo_2_about_block_engi {
    0% {
        left: 354px;
        top: -500px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        left: 354px;
        top: 371px;
        opacity: 1;
      }
}

@keyframes move_photo_3_about_block_inte {
    0% {
        left: 1208px;
        top: 371px;
        opacity: 0;
      }
    50% {
        opacity: 0.5;
      }
    100% {
        top: 371px;
        left: 708px;
        opacity: 1;
      }
}


#photo_1_about_block_arch {
    width: 302px;
    height: 384px;
    position: absolute;
    animation-name: move_photo_1_about_block_arch;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#photo_1_about_block {
    width: 302px;
    height: 384px;
}

#photo_2_about_block_engi {
    width: 302px;
    height: 384px;
    position: absolute;
    animation-name: move_photo_2_about_block_engi;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#photo_2_about_block {
    width: 302px;
    height: 384px;
}

#photo_3_about_block_inte {
    width: 302px;
    height: 384px;
    position: absolute;
    animation-name: move_photo_3_about_block_inte;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#photo_3_about_block {
    width: 302px;
    height: 384px;
}

#link_arch {
    position: absolute;
    left: 89px;
    top: 266px;
    text-decoration: none;
    color: #FFF;
    font-family: Oswald-Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.5px;
    transition: color 0.3s ease;
}
#link_arch:hover {
    color: #F7992B;
}

#link_engi {
    position: absolute;
    left: 100px;
    top: 266px;
    text-decoration: none;
    color: #FFF;
    font-family: Oswald-Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.5px;
    transition: color 0.3s ease;
}
#link_engi:hover {
    color: #F7992B;
}

#link_inte {
    position: absolute;
    left: 90px;
    top: 266px;
    text-decoration: none;
    color: #FFF;
    font-family: Oswald-Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.5px;
    transition: color 0.3s ease;
}
#link_inte:hover {
    color: #F7992B;
}