@font-face {
    font-family: Montserrat;
    src: url(montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: Oswald-Regular;
    src: url(oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(oswald/Oswald-Light.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(Roboto/Roboto-Light.ttf);
}

.head_block {
    position: absolute;
    width: 1903px;
    height: 100px;
    background: #3B3D42;
    top: 0px;
    left: 0px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 261px;
    width: 197px;
    height: 50px;
}

#head_text {
    position: absolute;
    left: 1307px;
    top: 37px;
    color: #F7992B;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
#head_text_ {
    position: absolute;
    left: 1307px;
    top: 37px;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}
#head_text_:hover {
    color: #F7992B;
}

#head_text1 {
    position: absolute;
    left: 1394px;
    top: 37px;
    color: #F7992B;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
#head_text1_ {
    position: absolute;
    left: 1394px;
    top: 37px;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}
#head_text1_:hover {
    color: #F7992B;
}

#head_text2 {
    position: absolute;
    left: 1481px;
    top: 37px;
    color: #F7992B;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
#head_text2_ {
    position: absolute;
    left: 1481px;
    top: 37px;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}
#head_text2_:hover {
    color: #F7992B;
}

#head_text3 {
    position: absolute;
    left: 1589px;
    top: 37px;
    color: #F7992B;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
#head_text3_ {
    position: absolute;
    left: 1589px;
    top: 37px;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}
#head_text3_:hover {
    color: #F7992B;
}


.start_block {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 1903px;
    height: 1288px;
}

#start_title {
    position: absolute;
    left: 595px;
    top: 514px;
    color: #FFF;
    font-family: Oswald-Bold;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#start_title1 {
    position: absolute;
    left: 680px;
    top: 660px;
    color: #FFF;
    font-family: Oswald-Light;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#view_more1 {
    position: absolute;
    left: 846px;
    top: 776px;
    width: 227px;
    height: 62px;
    background: #F7992B;
    text-decoration: none;
    transition: box-shadow 0.5s ease, background 0.5s ease; /* Додайте плавну анімацію для тіні */
    box-shadow: inset 0 0 0 0 transparent; /* Початкове значення внутрішньої тіні */
    display: flex; /* Додаємо flex контейнер для центрування вмісту */
    align-items: center; /* Вертикально центруємо вміст */
    justify-content: center; /* Горизонтально центруємо вміст */
}

#view_more1:hover {
    background: none;
    box-shadow: inset 0 0 0 2px #F7992B; /* Змінюємо внутрішню тінь */
}

#view_more1_p {
    color: #FFF;
    font-family: Oswald-Regular;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5.95px;
    text-decoration: none;
    transition: color 0.5s ease;
    margin: 0; /* Видаляємо зовнішні відступи */
}

#view_more1:hover #view_more1_p {
    color: #F7992B;
}