@font-face {
    font-family: Montserrat;
    src: url(montserrat/Montserrat-VariableFont_wght.ttf);
}

.head_block {
    position: absolute;
    width: 1920px;
    height: 100px;
    background: #3B3D42;
    top: 0px;
    left: 0px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 261px;
}

#head_text {
    position: absolute;
    left: 1307px;
    top: 35px;
    color: #F7992B;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
#head_text1 {
    position: absolute;
    left: 1394px;
    top: 35px;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}
#head_text1:hover {
    color: #F7992B;
}
#head_text2 {
    position: absolute;
    left: 1481px;
    top: 35px;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}
#head_text2:hover {
    color: #F7992B;
}
#head_text3 {
    position: absolute;
    left: 1589px;
    top: 35px;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s ease;
}
#head_text3:hover {
    color: #F7992B;
}


