@font-face {
    font-family: Montserrat;
    src: url(montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: Oswald-Regular;
    src: url(oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(oswald/Oswald-Light.ttf);
}



.about_company_block {
    width: 1022px;
    height: 755px;
    position: absolute;
    left: 455px;
    top: 1492px;
}

#small_words1 {
    position: absolute;
    top: 20px;
    left: 85px;
    color: #000;
    text-align: center;
    font-family: Oswald-Light;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

#big_words1 {
    width: 317px;
    height: 211.301px;
    position: absolute;
    top: 26px;
    left: 88px;
    color: #000;
    font-family: Oswald-Bold;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
}

#line1 {
    position: absolute;
    left: 88px;
    top: 250px;
}

#text_about_company_block {
    position: absolute;
    left: 417px;
    top: 26px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

#text_about_company_block1 {
    position: absolute;
    left: 417px;
    top: 121px;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
