@font-face {
    font-family: Montserrat;
    src: url(montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(oswald/Oswald-Bold.ttf);
}
@font-face {
    font-family: Oswald-Regular;
    src: url(oswald/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(oswald/Oswald-Light.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Black;
    src: url(Roboto/Roboto-Black.ttf);
}


#post_title {
    font-family: Roboto-Light;
    position: relative;
    top: 35px;
}

.post_text {
    font-family: Montserrat;
}

#admin_and_date_post {
    font-family: Montserrat;
}


.right_sidebar {
    position: absolute;
    left: 1100px;
    top: 200px;
}

.recent_post_title {
    font-family: Roboto-Light;
    text-decoration: none;
}

h4 {
    font-family: Roboto-Light;
}