{% extends 'worky/base_page_without_contact_details.html' %}
{% load widget_tweaks %}

{% block title %}{{ admin.username }} profile{% endblock %}

{% block content %}
<link href="\static\styles\admin_pages_style\sty_admin_profile.css" rel="stylesheet" type="text/css">
<link href="\static\styles\page_blog\sty_for_blog_page.css" rel="stylesheet" type="text/css">

<h1 id="title_author"> Author: {{ admin.first_name }} {{ admin.last_name }} </h1>

<div style="position: absolute; top: 200px; left: 350px;">
    {% include "worky/posts_list_blog.html" %}

    {% include "worky/right_sidebar_part.html" %}
</div>

<script src="\static\js\src\periods_for_texts.js"></script>
{% endblock %}
