{% extends 'worky/base_page_without_contact_details.html' %}
{% load widget_tweaks %}

{% block title %} {{ month }} {{ year }} {% endblock %}

{% block content %}

<link href="\static\styles\page_blog\sty_for_blog_page.css" rel="stylesheet" type="text/css">
<style>
    .end_block {
        position: relative;
        margin-left: -7.6px;
        width: 1903px;
        height: 100px;
        background: #3B3D42;
    }

    .logo_end_block {
        position: absolute;
        margin-left: 261px;
        margin-top: 30px;
        width: 197px;
        height: 50px;
    }

    #end_block_text {
      position: absolute;
      margin-left: 480px;
      margin-top: 45px;
      width: 120px;
      height: 26px;
      color: #FFF;
      text-align: center;
      font-family: Oswald-Light;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

</style>
<script>
    window.addEventListener('load', () => {
        document.getElementsByClassName('end_block')[0].style.top = document.getElementsByClassName('blog_content')[0].clientHeight + 500 + 'px';
    });

    let docTitle = document.title;
    window.addEventListener("blur", () => {document.title = "Come back";})
    window.addEventListener("focus", () => {document.title = docTitle; })
</script>

<h1 style="position: absolute; left: 758px; top: 150px; font-family: Roboto-Regular"> Month: {{ month }} {{ year }} </h1><br>

<div class="blog_content" style="position: absolute; top: 200px; left: 350px;">
    {% include "worky/posts_list_blog.html" %}

    {% include "worky/right_sidebar_part.html" %}
</div>

<div class="end_block">
    <img class="logo_end_block" src="\static\logo.png">
    <p id="end_block_text">© 2024 year</p>
</div>

<script src="\static\js\src\periods_for_texts.js"></script>

{% endblock %}