{% extends "worky/base_page_without_contact_details.html" %}

{% block title%}Blog{% endblock %}

{% block content %}
<style>
    .end_block {
        position: relative;
        margin-left: -7.6px;
        width: 1903px;
        height: 100px;
        background: #3B3D42;
    }

    .logo_end_block {
        position: absolute;
        margin-left: 261px;
        margin-top: 30px;
        width: 197px;
        height: 50px;
    }

    #end_block_text {
      position: absolute;
      margin-left: 480px;
      margin-top: 45px;
      width: 120px;
      height: 26px;
      color: #FFF;
      text-align: center;
      font-family: Oswald-Light;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
</style>
<script>
    window.addEventListener('load', () => {
        document.getElementsByClassName('end_block')[0].style.top = document.getElementsByClassName('blog_content')[0].clientHeight + 500 + 'px';
    });
</script>

<h1 style="position: absolute; top: 210px; left: 150px;">POSTS: </h1>

<div class="blog_content" style="position: absolute; top: 300px; left: 150px;">
    {% for post in posts %}
        <div style="width: 700px; word-wrap: break-word;">
            <h2>{{ post.title }}</h2><br>
            <img src="{{ post.image.url }}" height="400px" width="600px" alt="..."><br>
            <p style="width: 600px;">{{ post.text }}</p>
        </div>
        <hr>
    {% endfor %}
</div>

<div class="end_block">
    <img class="logo_end_block" src="\static\logo.png">
    <p id="end_block_text">© 2023 year</p>
</div>

{% endblock %}