{% extends "worky/base_page_without_contact_details.html" %}

{% block title%}Blog{% endblock %}

{% block content %}
<link href="\static\styles\page_blog\styl_for_blog_page.css" rel="stylesheet" type="text/css">
<style>
    .end_block {
        position: relative;
        margin-left: -7.6px;
        width: 1903px;
        height: 100px;
        background: #3B3D42;
    }

    .logo_end_block {
        position: absolute;
        margin-left: 261px;
        margin-top: 30px;
        width: 197px;
        height: 50px;
    }

    #end_block_text {
      position: absolute;
      margin-left: 480px;
      margin-top: 45px;
      width: 120px;
      height: 26px;
      color: #FFF;
      text-align: center;
      font-family: Oswald-Light;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }


</style>
<script>
    window.addEventListener('load', () => {
        document.getElementsByClassName('end_block')[0].style.top = document.getElementsByClassName('blog_content')[0].clientHeight + 500 + 'px';
    });

    let docTitle = document.title;
    window.addEventListener("blur", () => {document.title = "Come back";})
    window.addEventListener("focus", () => {document.title = docTitle; })

    document.addEventListener("DOMContentLoaded", function() {
    var postsTexts = document.getElementsByClassName("post_text");
    for(var i = 0; i < postsTexts.length; i++){
        var postText = postsTexts[i].textContent;
        var words = postText.split(" ");
        if (words.length > 10) {
            var limitedText = words.slice(0, 10).join(" ");
            var newText = limitedText + "...";
            postsTexts[i].innerHTML = newText;
        }
    }
});


</script>

<div class="blog_content" style="position: absolute; top: 100px; left: 350px;">
    {% for post in posts %}
        <div style="width: 700px; word-wrap: break-word;">
            <a href="post/{{ post.id }}" style="text-decoration: none;"><h2 id="post_title">{{ post.title }}</h2></a><br>
            <p id="admin_and_date_post">By <a href="admin_profile/{{ post.author.username }}">{{ post.author.username }}</a> Posted {{ post.date }}</p>
            <img src="{{ post.image.url }}" height="400px" width="600px" alt="..."><br>
            <p style="width: 600px;" class="post_text">{{ post.text }}</p>
        </div>
        <hr>
    {% endfor %}
</div>

<div class="right_sidebar">
    <div id="recent_posts">
        <h4>RECENT POSTS</h4>
        {% for recent_post in recent_posts %}
            <a class="recent_post_title" href="post/{{ recent_post.id }}">{{ recent_post.title }}</a><br><br>
        {% endfor %}
    </div> 
    <hr>
</div>

<div class="end_block">
    <img class="logo_end_block" src="\static\logo.png">
    <p id="end_block_text">© 2024 year</p>
</div>

{% endblock %}