<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="\static\styles\style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="head_block" >
      <div>
        <a href="">
          <img class="logo" src="\static\logo.png">
        </a>  
      </div>
      <div>
        <a href="" id="head_text"> HOME </a>
        <a href="" id="head_text1"> ABOUT </a>
        <a href="" id="head_text2"> SERVICES </a>
        <a href="" id="head_text3"> BLOG </a>
      </div>
    </div>
    <div class="start_block">
      <img src="\static\start_img.png" style="width: 1920px; height: 1288px;">
      <p id="start_title">WE BUILD THE FUTURE</p>
      <p id="start_title1">Best Ideas – Best Solution – Best Result</p>
      <a href=""><div id="view_more1"><p id="view_more1_p">VIEW MORE</p></div></a>
    </div>
  </body>
</html>
