{% extends 'worky/base_page_without_contact_details.html' %}
{% load widget_tweaks %}

{% block title %}Search Results for: {{ search_query }}{% endblock %}

{% block content %}
<link href="\static\styles\search_page\style_search.css" rel="stylesheet" type="text/css">
<style>
    .head_block {
        width: 1920px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var postsTexts = document.getElementsByClassName("search_result_text");
    for(var i = 0; i < postsTexts.length; i++){
        var postText = postsTexts[i].textContent;
        var words = postText.split(" ");
        if (words.length > 48) {
            var limitedText = words.slice(0, 48).join(" ");
            var newText = limitedText + "...";
            postsTexts[i].innerHTML = newText;
        }
    }
});
</script>
    {% if wanted_posts %}
        <div id="content_search_block">
            <h1 id="search_query_title">Search Results for: {{ search_query }}</h1>
            {% for wanted_post in wanted_posts %}
                <h4><a class="search_result_title" href="/worky/post/{{ wanted_post.id }}"  style="text-decoration: none;">{{ wanted_post.title }}</a></h4>
                <p class="search_result_text">{{ wanted_post.text }}</p><br>
            {% endfor %}
        </div>
    {% else %}
        <div id="content_search_block_1">
            <h1 id="search_query_title_1">Nothing Found</h1>
            <p id="information_text">Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
            <form method="post">
                {% csrf_token %}
                {% render_field search_form.search_query placeholder="Enter keyword search" id="input_to_search" %}
                <button id="button_to_search" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 48 48" style="fill:#FFFFFF;">
                        <path d="M 20.5 6 C 12.515556 6 6 12.515562 6 20.5 C 6 28.484438 12.515556 35 20.5 35 C 23.773158 35 26.788919 33.893018 29.220703 32.050781 L 38.585938 41.414062 A 2.0002 2.0002 0 1 0 41.414062 38.585938 L 32.050781 29.220703 C 33.893017 26.788918 35 23.773156 35 20.5 C 35 12.515562 28.484444 6 20.5 6 z M 20.5 10 C 26.322685 10 31 14.677319 31 20.5 C 31 23.295711 29.914065 25.820601 28.148438 27.697266 A 2.0002 2.0002 0 0 0 27.701172 28.144531 C 25.824103 29.912403 23.29771 31 20.5 31 C 14.677315 31 10 26.322681 10 20.5 C 10 14.677319 14.677315 10 20.5 10 z"></path>
                    </svg>
                </button>
            </form>
        </div>
        {% endif %}
{% endblock %}