{% extends "worky/home.html" %}
{% load widget_tweaks %}

{% block title %}Services{% endblock %}

{% block content %}
    <link href="\static\styles\page_services\styl_best_services.css" rel="stylesheet" type="text/css">
    <link href="\static\styles\page_services\styl_variety_options.css" rel="stylesheet" type="text/css">
    <link href="\static\styles\page_services\styl_latest_news.css" rel="stylesheet" type="text/css">
    <link href="\static\styles\partners_bl.css" rel="stylesheet" type="text/css">
    <style>
        .get_contact_block {
            position: absolute;
            left: 542px;
            top: 3550px;
        }
        
        .partners_block {
            position: absolute;
            left: 543px;
            top: 2400px;
        }
    </style>
    <div class="best_services">
        <p id="small_words_our_services">OUR SERVICES</p>
        <p id="big_words_our_services">LOOK OUR BEST SERVICES</p>
        <svg width="128" height="5" viewBox="0 0 128 5" fill="none" xmlns="http://www.w3.org/2000/svg" id="line_our_services">
            <line y1="2.30121" x2="128" y2="2.30121" stroke="#F7992B" stroke-width="4"/>
        </svg>
        <p id="text_best_services">
            Explore the history of the classic Lorem Ipsum passage and generate your own text using any number of characters, 
            words, sentences or paragraphs. Commonly used as placeholder text in the graphic and print industries, 
            Lorem Ipsum’s origins extend far back to a scrambled Latin passage.
        </p>
        <div id="interior_planing_block">
            <a href="blog"><img src="\static\interior_planing_img.png" id="interior_planing_img" style="width: 120px; height: 120px;"></a>
            <a href="blog"><p id="upper_words_interior_planing">INTERIOR PLANING</p></a>
            <p id="text_interior_planing">
                A relaxing bathroom helps you start and end your day in good spirits. 
                It’s beneficial to have well designed storage to keep an open, clean feel.
            </p>
        </div>    
        <div id="LANDSPACING_block">
            <a href="blog"><img src="\static\landspacing_img.png" id="LANDSPACING_img" style="width: 120px; height: 120px;"></a>
            <a href="blog"><p id="upper_words_LANDSPACING">LANDSPACING</p></a>
            <p id="text_LANDSPACING">
                We all are living busy lives, giving time to family, friends, and work, hence our bedroom is oftentimes 
                the place where we go to relax and escape everyday life struggles.
            </p>
        </div>  
        <div id="decoration_block">
            <a href="blog"><img src="\static\decoration_img.png" id="decoration_img" style="width: 120px; height: 120px;"></a>
            <a href="blog"><p id="upper_words_decoration">DECORATION</p></a>
            <p id="text_decoration">
                For improving entire appeal of the house homeowners can opt for the renovation projects. 
                Unique renovation can completely.
            </p>
        </div> 
        <div id="interior_design_block">
            <a href="blog"><img src="\static\interior_design_img.png" id="interior_design_img" style="width: 120px; height: 120px;"></a>
            <a href="blog"><p id="upper_words_interior_design">INTERIOR DESIGN</p></a>
            <p id="text_interior_design">
                We combine decades of design projecting experience with an unrelenting dedication to setting new benchmarks 
                in the lighting marketplace.
            </p>
        </div> 
        <div id="architecture_block">
            <a href="blog"><img src="\static\architecture_img.png" id="architecture_img" style="width: 120px; height: 120px;"></a>
            <a href="blog"><p id="upper_words_architecture">ARCHITECTURE</p></a>
            <p id="text_architecture">
                We offer dozens of custom options - from special finishes to hand-applied gilding to a choice of leg styles 
                on some pieces, and even more choices.
            </p>
        </div> 
        <div id="style_selection_block">
            <a href="blog"><img src="\static\style_selection_img.png" id="style_selection_img" style="width: 120px; height: 120px;"></a>
            <a href="blog"><p id="upper_words_style_selection">STYLE SELECTION</p></a>
            <p id="text_style_selection">
                We understand that most homeowners don’t undertake major exterior replacements and redesign 
                projects more than once, and that’s why our goal.
            </p>
        </div> 
    </div>
    <div class="variety_of_options_block">
        <p id="small_words_our_pricing">OUR PRICING</p>
        <p id="big_words_our_pricing">A VARIETY OF OPTIONS</p>
        <svg width="128" height="5" viewBox="0 0 128 5" fill="none" xmlns="http://www.w3.org/2000/svg" id="line_our_pricing">
            <line y1="2.30121" x2="128" y2="2.30121" stroke="#F7992B" stroke-width="4"/>
        </svg>
        <p id="text_our_pricing">
            Transform your everyday environment with these 3 different sets of architecture services offered at affordable price. 
            Every pricing package can be customized according to your wishes.
        </p>
        <div id="about_price_basic">
            <p id="title_price" style="left: 157px;">BASIC</p>
            <p id="price">$29.00</p>
            <p id="list">Interior Design<br>
                Space Planning<br>
                Decorating Service<br>
                Project Management</p>
            <a href="about" style="text-decoration: none;">
                <div id="view_more_price">
                    <p id="text_view_more_price">VIEW MORE</p>
                </div>
            </a>
        </div>
        <div id="about_price_standard">
            <p id="title_price" style="color: white">STANDARD</p>
            <p id="price" style="color: white">$49.00</p>
            <p id="list" style="color: white">Interior Architecture<br>
                Exterior Design<br>
                Renovation Service<br>
                Lighting Installation</p>
            <a href="about" style="text-decoration: none;">
                <div id="view_more_price_standard">
                    <p id="text_view_more_price_standard">VIEW MORE</p>
                </div>
            </a>
        </div>
        <div id="about_price_premium">
            <p id="title_price">PREMIUM</p>
            <p id="price">$79.00</p>
            <p id="list">Landscape Design<br>
                Planning & Development<br>
                Custom Furniture<br>
                Refurbishing</p>
            <a href="about" style="text-decoration: none;">
                <div id="view_more_price">
                    <p id="text_view_more_price">VIEW MORE</p>
                </div>
            </a>
        </div>
    </div>
    <div class="partners_block">
        <p id="small_words3">PARTNERS</p>
        <p id="big_words3">OUR CLIENTS & PARTNERS</p>
        <svg width="85" height="5" viewBox="0 0 85 5" fill="none" xmlns="http://www.w3.org/2000/svg" id="line3">
          <line y1="2.30121" x2="85" y2="2.30121" stroke="#F7992B" stroke-width="4"/>
        </svg>
        <img src="\static\partner_1.png" id="partner_1">
        <img src="\static\partner_2.png" id="partner_2">
        <img src="\static\partner_3.png" id="partner_3">
        <img src="\static\partner_4.png" id="partner_4">
        <img src="\static\partner_5.png" id="partner_5">
        <img src="\static\partner_6.png" id="partner_6">
    </div>
    <div class="latest_news_block">
        <div id="yellow_block">
            <form action="{% url 'services' %}" method="post">
                <p id="small_words3_yb">SUBSCRIBE</p>
                <p id="big_words3_yb">JOIN OUR NEWSLETTER</p>
                <p id="text_newsletter">Good news & event details as well straight to your incoming mail!</p>
                {% csrf_token %}
                <input type="hidden" name="form_type" value="newsletter">
                {% render_field form2.email_for_newsletter placeholder="YOUR EMAIL" id+="input_email_yellowblock" %}
                <button type="submit" id="send_button_yellowblock"><span>SEND</span></button>
            </form>
        </div>

        <div id="black_block">
            <p id="small_words3_bb">LATEST NEWS</p>
            <p id="big_words3_bb">TOP INSIGHTS ON THE CURRENT INDUSTRY</p>
            <svg width="85" height="5" viewBox="0 0 85 5" fill="none" xmlns="http://www.w3.org/2000/svg" id="line_latest_news">
                <line y1="2.30121" x2="85" y2="2.30121" stroke="#F7992B" stroke-width="4"/>
            </svg>
            <a href="about"><p id="sustainable_building_design_link">SUSTAINABLE BUILDING DESIGN</p></a>
            <p id="text_latest_news">Like many older U.S. cities, our nation’s capital infrastructure dates back to the early 
                1800s and their storm and wastewater treatment system is no longer able to accommodate heavy rain events, 
                causing overflows of untreated waste into nearby rivers and…</p>
        </div>
    </div>

    <script src="\static\js\src\services_sct.js"></script>
{% endblock %}